* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Masyte";
  src: url(../fonts/MasyteRegular-lgmB0.ttf);
}
/* Header */
header {
  background-color: #ffffff;
  position: sticky;
}
.menu {
  display: none;
}
nav {
  display: none;
}

#toggle-button {
  display: none;
}

/* Generel setup - alle sider */
body {
  background-color: #ffeea4;
}

/* Text */
h1 {
  font-family: "Masyte", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: black;
}

h2 {
  font-family: "Masyte", sans-serif;
  font-size: 40px;
  color: black;
}

h3 {
  font-family: "Avenir next", sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: black;
}

h4 {
  font-family: "Masyte", sans-serif;
  font-size: 20px;
  color: black;
}

p {
  font-family: "Avenir next", sans-serif;
  font-size: 18px;
  color: black;
}

/* Footer */
footer {
  background-color: #ffffff;
}

footer img {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 left;
  margin-left: 60px;
  padding-top: 20px;
}

.grid-footer {
  margin: 20px 40px;
  padding: 20px;
}

.footer-info {
  padding: 10px;
}

#opening-hours {
  gap: 10px;
}
.opening-hours {
  display: flex;
  gap: 10px;
}

footer h3 {
  font-family: "Avenir next", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

footer p {
  font-family: "Avenir next", sans-serif;
  font-size: 12px;
}

input {
  margin: 10px 0;
  font-style: italic;
  font-size: 12px;
  padding: 10px;
}

/* Checkboxx */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkbox-container input {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  background-color: #d04900;
  border-radius: 4px;
}

/* Når checkbox er checked */
.checkbox-container input:checked + .checkmark {
  background-color: #d04900;
}

.checkmark::after {
  content: "";
  display: none;
}

.checkbox-container input:checked + .checkmark::after {
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin: 3px auto;
}

/* checkbox text */
label {
  font-family: "Avenir next", sans-serif;
  font-size: 10px;
}

/* sign-up og top buttons i footer */

input[type="submit"] {
  background-color: #d04900;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
}
